body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
  text-decoration: none;
}
a:hover{
 text-decoration: underline 
}

form textarea,
form input,
form button{
  font-size: 1.5em;
}
form textarea,
form input{
  width: 400px;
  margin: 10px 0;
}

article{

}

article h2 a{
  color: #222;
}
